<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LoopSeconds" value="5"/>
    <add key="InputDirectory" value="C:\DICOM1\ROCKETPACS_Incoming"/>
    <add key="InputExtension" value="video"/>
    <add key="OutFileExtension" value="mp4"/>
    <add key="CommandFilePath" value ="C:\Programs\ffmpeg\bin\ffmpeg.exe"/>
    <add key="CommandString" value="-n -i $INFILE -vf &quot;scale=trunc(iw/2)*2:trunc(ih/2)*2&quot; -vcodec libx264 -preset veryfast -crf 23 -movflags +faststart -tune fastdecode -profile:v high -level 4.1 -pix_fmt yuv420p -acodec aac -t 00:10:00 $OUTFILE"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>